body {
	color: #000066;
	background-color: #00FFFF;
	font-family: Georgia, Times, Serif;
	padding-left: 11em;
}
h1 {
	font-family: Helvetica, Geneva, Arial
}
ul.navbar {
	position: absolute;
	top: 2em;
	left: 1em;
	width: 9em;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.navbar li {
	background: white;
	margin: 0.2em;
	padding: 0.1em;
	border-right: 1em solid black
}
ul.navbar a {
	text-decoration: none
}
a:link {
	color: #999999
}
a:visited {
	color: #0000FF
}
